* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background: url("./img/pexels-eberhard-grossgasteiger-1367192.jpg");
}

.container {

    background-color: rgb(245, 239, 233);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;

}
.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}
img {
    height: 25px;
}